* {
  box-sizing: border-box;
}

body {
  caret-color: #000000;
  font-family: "Roboto", sans-serif;
}

p {
  text-overflow: ellipsis;
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}

input {
  text-align: center;
}

.category {
  background-color: #026eff;
  padding: 5px 10px 15px 10px;
  margin-bottom: 50px;
  box-shadow: 0px 0px 5px #000000;
}

.categoryTitle {
  padding: 0px 0px 0px 30px;
  color: #ffffff;
}

.cover {
  background-image: url("https://d117h1jjiq768j.cloudfront.net/images/default-source/products/labs/labs-hero-image.jpg?Status=Temp&sfvrsn=432a5148_2");
  background-position: 30% 15%;
  background-repeat: no-repeat;
  background-size: cover;
}

.description {
  font-size: 18px;
  margin-right: 30px;
  margin-left: 30px;
  text-align: left;
  color: #000000;
}

.faq {
  text-align: center;
  margin: 60px auto 100px auto;
}

.feature {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-bottom: 150px;
}

.featureBox {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin: 60px auto;
}

.featureContainer {
  padding: 0px 100px 50px 100px;
}

.featureDescription {
  width: 100%;
  text-align: center;
  color: #000000;
}

.featureDetailsLeft {
  width: 50%;
  text-align: center;
  color: #000000;
}

.featureDetailsRight {
  width: 50%;
  text-align: center;
  color: #000000;
}

.featureScreen {
  width: 100%;
  margin: 0px;
}

.footer {
  background-color: #000000;
  color: #ffffff;
  padding-bottom: 40px;
}

.footerLinks {
  text-align: center;
}

.footerLink {
  margin-right: 10px;
  display: inline;
  color: #ffffff;
}

.header {
  font-size: 250%;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  color: #ffffff;
}

.heading {
  margin: 0px auto;
  padding: 0% 10%;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

.headline {
  margin: 0px auto;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 35px;
  color: #000000;
}

.introButton {
  margin: 10px;
}

.introButtons {
  display: flex;
  justify-content: center;
  margin: 0px auto 80px auto;
}

.introduction {
  text-align: center;
  margin-top: 60px;
}

.logoIcon {
  width: 35px;
  height: 35px;
  margin-right: 15px;
  top: 50%;
  left: 50%;
  transform: translate(20%, 17%);
}

.navbar {
  background-color: #000000;
}

.overviewScreen {
  border: 2px solid #000000;
  border-radius: 40px;
  box-shadow: 0px 5px 5px #000000;
}

.overviewTitle {
  color: #000000;
  text-align: left;
  margin-left: 30px;
  margin-right: 30px;
}

.pointer {
  cursor: pointer;
}

.primaryGoal {
  background-color: #026eff;
  border-radius: 5px;
  box-shadow: 0px 5px 5px #000000;
  line-height: 50px;
}

.primaryGoal:focus {
  background-color: #026eff;
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 5px 5px #000000;
  line-height: 50px;
}

.primaryGoal:hover {
  color: #026eff;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 5px 5px #000000;
  line-height: 50px;
}

.question {
  width: 50%;
  padding: 0% 3%;
}

.questions {
  margin-top: 50px;
}

.questionRow {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.questionDescription {
  text-align: left;
  font-size: 16px;
  color: #000000;
}

.questionTitle {
  text-align: left;
  font-weight: bold;
  font-size: 20px;
}

.screenshot {
  width: 270px;
  height: 584px;
  margin-top: 50px;
  border-radius: 40px;
  border: 1px solid #000000;
  box-shadow: 0px 5px 5px #000000;
}

.screenshotApp {
  border-radius: 15px;
  width: 600px;
  height: 405px;
  margin-top: 30px;
  border: 1px solid #000000;
  box-shadow: 0px 5px 5px #000000 !important;
}

#screenshotContent {
  border: none;
  box-shadow: none !important;
}

.secondaryGoal {
  background-color: transparent;
}

.secondaryGoal:focus {
  background-color: transparent;
  color: #ffffff;
}

.secondaryGoal:hover {
  color: #000000;
  background-color: #ffffff;
}

.sidenavtitle {
  background-color: #000000;
  color: #ffffff;
}

.sidenavtitlelink {
  color: #ffffff !important;
}

.spacer {
  margin: 20px 0px 50px 0px;
  background-color: #000000;
  box-shadow: 0px 0px 10px #000000 !important;
}

.subheader {
  color: #ffffff;
  width: 50%;
  line-height: 1.5em;
  margin: 40px auto;
}

.subheadline {
  margin: 10px 50px;
  font-size: 25px;
  color: #525252;
}

.subSpacer {
  margin: 0px auto;
  color: #ffffff;
  background-color: #000000;
  padding: 3px 0px 10px 0px;
}

.survaidLogo {
  margin-left: 1%;
  overflow: hidden;
  line-height: 67px;
}

.targetGoal {
  color: #000000;
  border: 1px solid #f15e23;
  border-radius: 5px;
  background-color: #f15e23;
  box-shadow: 0px 5px 5px #000000 !important;
}

.targetGoal:focus {
  color: #ffffff;
  background-color: #000000;
  box-shadow: 0px 5px 5px #000000 !important;
}

.targetGoal:hover {
  box-shadow: 0px 5px 5px #000000 !important;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000000;
}

.title {
  color: #000000;
  text-align: left;
  margin: 40px;
}

.titleIcon {
  font-size: 35px;
  margin-right: 15px;
}

.valueCaption {
  line-height: 1.6;
  margin: 30px auto;
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.2px;
}

.valueIcon {
  font-size: 200px;
  color: #f15e23;
}

.valueProp {
  text-align: center;
  margin: 0px auto 100px auto;
}

.valueProps {
  width: 100%;
  margin: 100px auto 0px auto;
}

.valueSubCaption {
  line-height: 1.6;
  font-size: 18px;
  color: #000000;
  flex-wrap: nowrap;
}

@media screen and (max-width: 1200px) {
  .description {
    font-size: 18px;
    margin-right: 30px;
    margin-left: 30px;
    text-align: left;
    color: #000000;
  }

  .faq {
    text-align: center;
    margin: 60px auto 100px auto;
  }

  .feature {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding-bottom: 60px;
  }

  .featureContainer {
    padding: 0px 100px 0px 100px;
  }

  .featureDescription {
    width: 100%;
    text-align: center;
    color: #000000;
  }

  .featureDetailsLeft {
    width: 70%;
    margin-top: 0px;
    padding-top: 10px;
    text-align: center;
    color: #000000;
  }

  .featureDetailsRight {
    width: 70%;
    margin-top: 0px;
    padding-top: 10px;
    text-align: center;
    color: #000000;
  }

  .featureScreen {
    width: 100%;
    margin: 0px;
  }

  .heading {
    margin: 0px auto;
    font-weight: bold;
    color: #000000;
    text-align: center;
  }

  .overviewTitle {
    color: #000000;
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
  }

  .reverse {
    flex-direction: column-reverse;
    background-color: #ffffff;
  }

  .screenshot {
    width: 270px;
    height: 584px;
    margin-top: 50px;
    border-radius: 40px;
    border: 1px solid #000000;
    box-shadow: 0px 5px 5px #000000;
  }

  .screenshotApp {
    border-radius: 15px;
    width: 600px;
    height: 405px;
    margin-top: 0px;
    border: 1px solid #000000;
    box-shadow: 0 5px 5px #000000 !important;
  }

  #screenshotContent {
    border: none;
    box-shadow: none !important;
  }

  .subheader {
    color: #ffffff;
    width: 70%;
    line-height: 1.5em;
    margin-left: auto;
    margin-right: auto;
  }

  .subheadline {
    margin: 10px 50px;
    font-size: 15px;
    color: #525252;
  }

  .title {
    color: #000000;
    text-align: center;
    margin: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .description {
    font-size: 16px;
    margin-right: 30px;
    margin-left: 30px;
    text-align: left;
    color: #000000;
  }

  .faq {
    text-align: center;
    margin: 60px auto 100px auto;
  }

  .feature {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding-bottom: 60px;
  }

  .featureContainer {
    padding: 0px 100px 0px 100px;
  }

  .featureDescription {
    width: 100%;
    text-align: center;
    color: #000000;
  }

  .featureDetailsLeft {
    color: #000000;
    width: 100%;
    padding-top: 10px;
    text-align: center;
  }

  .featureDetailsRight {
    color: #000000;
    width: 100%;
    padding-top: 10px;
    text-align: center;
  }

  .featureScreen {
    width: 100%;
    margin: 0px;
  }

  .heading {
    margin: 0px auto;
    font-weight: bold;
    color: #000000;
    text-align: center;
  }

  .headline {
    margin: 0px auto;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
  }

  .overviewTitle {
    color: #000000;
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
  }

  .reverse {
    flex-direction: column-reverse;
    background-color: #ffffff;
  }

  .screenshot {
    width: 270px;
    height: 584px;
    margin-top: 50px;
    border-radius: 40px;
    border: 1px solid #000000;
    box-shadow: 0px 5px 5px #000000;
  }

  .screenshotApp {
    border-radius: 15px;
    width: 600px;
    height: 405px;
    margin-top: 0px;
    border: 1px solid #000000;
    box-shadow: 0px 5px 5px #000000 !important;
  }

  #screenshotContent {
    border: none;
    box-shadow: none !important;
  }

  .subheader {
    color: #ffffff;
    width: 80%;
    line-height: 1.5em;
    margin-left: auto;
    margin-right: auto;
  }

  .subheadline {
    margin: 10px 50px;
    font-size: 15px;
    color: #525252;
  }

  .team {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    color: #000000;
    text-align: center;
    margin: 40px;
  }

  .valueSubCaption {
    line-height: 1.6;
    font-size: 18px;
    color: #000000;
    flex-wrap: nowrap;
    margin: 30px 20%;
  }
}

@media screen and (max-width: 768px) {
  p {
    text-overflow: ellipsis;
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
  }

  .columns {
    width: 100%;
  }

  .description {
    font-size: 16px;
    margin-right: 30px;
    margin-left: 30px;
    text-align: center;
    color: #000000;
  }

  .faq {
    text-align: center;
    margin: 60px auto 100px auto;
  }

  .feature {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    padding-bottom: 50px;
  }

  .featureBox {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 70px;
  }

  .featureContainer {
    padding: 0px 0px 0px 0px;
  }

  .featureDescription {
    width: 100%;
  }

  .featureDetailsLeft {
    color: #000000;
    width: 100%;
    padding-top: 10px;
    text-align: center;
  }

  .featureDetailsRight {
    color: #000000;
    width: 100%;
    padding-top: 10px;
    text-align: center;
  }

  .featureScreen {
    width: 100%;
    margin: 0px;
  }

  .heading {
    margin: 0px auto;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    text-align: center;
  }

  .headline {
    margin: 10px 50px;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    text-align: left;
  }

  .introduction {
    text-align: center;
  }

  .overflow {
    visibility: hidden;
  }

  .overviewTitle {
    color: #000000;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
  }

  .question {
    width: 100%;
    padding: 0% 3%;
  }

  .questions {
    margin-top: 50px;
  }

  .questionRow {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .reverse {
    flex-direction: column-reverse;
    background-color: #ffffff;
  }

  .screenshot {
    width: 270px;
    height: 584px;
    margin-top: 50px;
    border-radius: 40px;
    border: 1px solid #000000;
    box-shadow: 0px 5px 5px #000000;
  }

  .screenshotApp {
    border-radius: 15px;
    width: 480px;
    height: 324px;
    margin-top: 0px;
    border: 1px solid #000000;
    box-shadow: 0px 5px 5px #000000 !important;
  }

  #screenshotContent {
    border: none;
    box-shadow: none !important;
  }

  .subheader {
    color: #ffffff;
    width: 90%;
    line-height: 1.5em;
    margin-left: auto;
    margin-right: auto;
  }

  .valueSubCaption {
    line-height: 1.6;
    font-size: 18px;
    color: #000000;
    flex-wrap: nowrap;
    margin: 30px 10%;
  }
}

@media screen and (max-width: 600px) {
  .survaidLogo {
    overflow: hidden;
    line-height: 61px;
  }

  .valueSubCaption {
    line-height: 1.6;
    font-size: 18px;
    color: #000000;
    flex-wrap: nowrap;
    margin: 30px 10%;
  }
}

@media screen and (max-width: 480px) {
  .faq {
    text-align: center;
    margin: 60px auto 100px auto;
  }

  .featureContainer {
    padding: 0px 0px 0px 0px;
  }

  .featureScreen {
    width: 100%;
    margin: 0px;
  }

  .overviewTitle {
    color: #000000;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
  }

  .reverse {
    flex-direction: column-reverse;
    background-color: #ffffff;
  }

  .screenshot {
    width: 270px;
    height: 584px;
    margin-top: 50px;
    border-radius: 40px;
    border: 1px solid #000000;
    box-shadow: 0px 5px 5px #000000;
  }

  .screenshotApp {
    border-radius: 15px;
    width: 320px;
    height: 240px;
    margin-top: 0px;
    border: 1px solid #000000;
    box-shadow: 0px 5px 5px #000000 !important;
  }

  .screenshot {
    width: 270px;
    height: 584px;
    margin-top: 0px;
    border-radius: 40px;
    border: 1px solid #000000;
    box-shadow: 0px 5px 5px #000000;
  }

  .screenshotApp {
    border-radius: 15px;
    width: 320px;
    height: 216px;
    margin-top: 0px;
    border: 1px solid #000000;
    box-shadow: 0px 5px 5px #000000 !important;
  }

  #screenshotContent {
    border: none;
    box-shadow: none !important;
  }

  .valueSubCaption {
    line-height: 1.6;
    font-size: 18px;
    color: #000000;
    flex-wrap: nowrap;
    margin: 30px 5%;
  }
}
